<!-- <p>contacts works!</p> -->
<!-- h1#blue -->
<!-- <h1 id="blue"> {{ name }} </h1> -->
<!-- div>ul>li*5 -->
<!-- <div> -->
    <!-- <ul> -->
        <!-- <li></li> -->
        <!-- <li></li> -->
        <!-- <li></li> -->
        <!-- <li></li> -->
        <!-- <li></li> -->
    <!-- </ul> -->
<!-- </div> -->
 
<div class="row">
    <div class="col-md-5">
        <cms-contact-list></cms-contact-list>
        <!-- <cms-class-list></cms-class-list> -->
    </div>
    <div class="col-md-4">
        <cms-contact-detail [contact]="selectedContact" *ngIf="selectedContact"></cms-contact-detail>
    </div>
</div>