 <div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="display: inline">Contacts</h2>
                <button class="btn btn-success pull-right">New Contact</button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#"class="list-group-item clearfix" >
                            <cms-contact-item *ngFor="let contact of contacts" [contact]="contact"
                            (click)="onSelected(contact)"></cms-contact-item>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
</div>
 